<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="quiz-page">

<div class="quiz-wrapper">

    <div class="question-counter">
        {{ number }} / {{ total }}
    </div>

    <div>
    <div class="question-wrapper">
        <div class="question-text">
            {{ question|safe }}
        </div>
        <div class="question-line"></div>
    </div>

        <form method="POST">
            <input type="text" name="answer" required autocomplete="off" class="answer-input">
        </form>
    </div>

</div>

</body>
